.tags-input {
  border-radius: 3px;  
  display: block;
  border: 1px solid #777;
  border-radius: 6px;
  margin-bottom: 20px;
}

.tags-input:focus-within{
  border: 1px solid white;
}

.tags-input input {
  width: 100%;
  padding: 10px;
  color: white;
  background: none;
  border: none;
}
.tags-input input:focus {
  outline: none;
}
.tags-list {
  flex-flow: wrap;
  display: flex;
  margin-left: 8px;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 10px 8px 8px 0px;
  background: #378ad3;
}


