.body{

    background-color: rgba(241,242,243);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: centerl;
    align-items: center;
}
.column,.leftMain,.rightMain{
    display: flex;
    flex-direction: column;
  
}

.main{
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: row;
    background-color:green;
    justify-content: center;
    

}
.leftMain{
    height: 100%;
    width: 30%;
    
}
.rightMain{
    height: 100%;
   
    margin-left: 50px;
}

.rowTitle{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    margin-left: 10px;

}

.font{
    color: black
}

.buttonList{
   justify-content: center;
   align-items: center;
   padding-top: 100px;
  
 
   

}
.inputBox{
    background-color:rgb(255,255,255);
    padding-left: 10px;
    padding-right:10px;
  
    width:450px;
    margin-top: 10px;
    border-radius:5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding-top: 10px;
    padding-bottom: 20px;

}
.loginButton{
    width:100%;
    margin-bottom:20px;
   
    
}