
.questionContainer{
    position: absolute;
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    
    display: flex;


}

.loading {
    height: 100px;
    width:100px;
    position: absolute;
  
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
  }
  
  .loader--hide {
    opacity: 0;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .row{
    display: flex;
    flex-direction: row;
  }

  .menubar{
    margin-top:50px;
    height:100vh;
    width:15%;
    background-color:#2D2D2D;
    position:fixed; 
    
  }

  .mainPage{
    width:100%;
    height:100%;
    margin-left: 15%;
   
   
  }

  .bar{
    width:100%;
    height:50px;
    /* background-color:red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
  }

  .stickyBar{
    height:100%;
    width:5px;
    background-color:green;
    margin-left:0px;

  }

  .heading1{
    font-weight:bold;
    font-size:35;

  }